html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-size: cover;
  background-image: url('../public/sk.jpg');
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  z-index: 1;
  animation-name: fadeIn;
  animation-duration: 3.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



#dob,
button,
input,
h1,
p {
  font-size: 1.3em;
  width: 100%;
  box-sizing:border-box;
  margin-bottom: 10px; 
  width: 80vw;
}

button {
  background-color: black;
  color: aliceblue;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(0, 0, 232);
}
button:active {
  background-color: rgb(23, 54, 211);
}

p, label {
  color: white;
}

input {
  margin-top: 10px;
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 10px;
  border-radius: 5px;
}


